﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="upload.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <asp:FileUpload ID="FileUploadControl" runat="server" />

    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />

    <div id="output" runat="server"></div>

</asp:Content>

